@font-face {
    src: url("./fonts/NarzissProCyrillic-Bold.ttf");
    font-family: Narziss;
}

@font-face {
    src: url("./fonts/amsterdam-four-slant-ttf.ttf");
    font-family: Amsterdam;
}
@font-face {
    src: url("./fonts/TT Fors Trial Regular.ttf");
    font-family: Fors;
}

:root {
    /*--base-color: #763D80;*/
    --base-color: #000;
}

body {
    color: var(--base-color);
    background-image: url("./images/s.webp");
    background-size: 200% 120vh;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100%;
}

@keyframes blur {
    from {
        text-shadow: 0 0 8px #000000;
    }
    to {
        text-shadow: 0 0 0 var(--base-color);
    }
}