@font-face {
    src: url("./fonts/NarzissProCyrillic-Bold.ttf");
    font-family: Narziss;
}

:root {
    /*--base-color: #763D80;*/
    --base-color: #7149C6;
}

body {
    font-family: Allison, cursive;
    height: 100vh;
    color: var(--base-color);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.logo-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 220px;
}

.rotate-text-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;

    display: flex;
    align-items: center;

    overflow: hidden;

    font-family: Tenor, serif;
}

#text {
    color: var(--base-color);
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    height: 300px;

    transform: rotate(180deg);
    animation: 1s rotate-text 1.8s 1 linear forwards;
    transform-origin: center left;
}

@keyframes rotate-text {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}


#text>span {
    position: absolute;
    transform-origin: left 160px;
}